{
	"extends": [
		"airbnb-base/legacy",
		"wordpress"
	],
	"rules": {
		"func-names": "off",
		"no-undef": "error",
		"spaced-comment": "off",
		"wrap-iife":"off"
  },
  "globals": {
    "$": true
  }
}
