{
	"extends": [
		"stylelint-config-wordpress/scss"
	],
	"plugins": [
		"stylelint-scss",
		"@namics/stylelint-bem"
	],
	"rules": {
		"indentation": 2,
    "plugin/stylelint-bem-namics": {
      "patternPrefixes": [ "s", "mdl", "a", "m", "o", "t", "p" ],
      "helperPrefixes": [ "is", "has" ]
		},
		"scss/selector-no-redundant-nesting-selector": true
	}
}
