- Chỉ có một . trong selector.
- Chỉ có một __ trong selector.
- Chỉ có một -- trong selector.
- Không dùng # cho selector.
- Không dùng tag nae cho selector. (input[type])
- Hạn chế các prefix: l, m, c, e
- Thứ tự từ trên xuống dưới: elm, mod
- Đặt ra exeption cho những thứ không theo BEM.
  + Phải nằm bên trong elm



Không dùng SCSS nữa, dùng POSTCSS luôn :D