{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-wordpress/scss"
  ],
  "rules": {
		"order/order": [
			"custom-properties",
			"declarations"
		],
    "order/properties-alphabetical-order": true
	}
}