:root {
  background: #000;
  transition-duration: 0ms;

  &__shit {
    background: #000;

    &--is-acc {
      color: #000;
    }
  }

  &--is-dark {
    background: #000;

    :root {

      &__shit {
        background: #000;

        &--is-acc {
          color: #fff;
        }
      }
    }
  }
}
