{{#extend "lay-base"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="assets/css/home.css" />
    {{/content}}
 
    {{#content "body"}}
        <h2>Welcome Home</h2>

        <section>dfsdfsdf</section>
 
        <ul class='hello'>
            <li class="sfdsf"><a href="">dsfdsfdsf</a></li>
            <li><a href="">dsfdsfdsf</a></li>
            <li><a href="">dsfdsfdsf</a></li>
            <li><a href="">dsfdsfdsf</a></li>
            <li><a href="">dsfdsfdsf</a></li>
        </ul>
    {{/content}}
 
    {{#content "foot" mode="prepend"}}
        <script src="assets/js/analytics.js"></script>
    {{/content}}
{{/extend}}